<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/tailwind.css' | url }}">
  </head>
  <body>
    <header>
      <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="{{ '/' | url }}">{{ metadata.title }}</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            {%- for entry in collections.all | eleventyNavigation %}
              <li>
                <a class="{% if entry.url == page.url %} active {% endif %}" 
                   href="{{ entry.url | url }}">
                  {{ entry.title }}
                </a>
              </li>
            {%- endfor %}
          </ul>
        </div>
      </div>

    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>