---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}
    <hr>
    <div class="btn-group">
      {%- if nextPost %}
        <a class="btn btn-outline" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
      {% endif %}
      {%- if previousPost %}
        <a class="btn btn-outline" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
      {% endif %}
    </div>
  {%- endif %}
{%- endif %}